$p-secondary-primary: #8a8a8a;
$p-red-primary: #f55861;
$p-green-primary: #187968;
$p-dark-primary: #393939;
$p-blue-lighten-primary: #c8f9f0;
$p-purple-lighten-primary: #d9e6ff;
$p-brown-primary: #fff0d9;
$p-green-lighten-1: #daf5f0;
$p-blue-lighten-1: #e6f3ff;
